spawn-at-startup "noctalia"

input {
    keyboard {
        xkb {
            layout "us"
            options "caps:escape"
        }
    }

    touchpad {
        tap
        natural-scroll
    }
}

output "eDP-1" {
    mode "1920x1080@120.030"
    scale 1.00

    hot-corners {
        top-left
    }
}

prefer-no-csd

environment {
    XDG_CURRENT_DESKTOP "niri"
    NIXOS_OZONE_WL "1"
    MOZ_ENABLE_WAYLAND "1"
    QT_QPA_PLATFORM "wayland"
    XCURSOR_THEME "macOS"
    XCURSOR_SIZE "26"
}

cursor {
    xcursor-theme "macOS"
    xcursor-size 26
}

hotkey-overlay {
    skip-at-startup
}

layout {
    gaps 8
    center-focused-column "never"
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }
    default-column-width { proportion 0.5; }
    focus-ring {
        width 2
    }
}

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

xwayland-satellite {
    path "xwayland-satellite"
}

window-rule {
    geometry-corner-radius 8
    clip-to-geometry true
}

window-rule {
    match app-id="kitty"
    draw-border-with-background false
}

window-rule {
    match title="Picture in picture"
    open-floating true
    default-floating-position x=16 y=16 relative-to="bottom-right"
}

window-rule {
    match app-id="helium"
    match app-id="spotify"
    match app-id="code"
    match app-id="ferdium"
    
    default-column-width {
        proportion 1.0
    }
}

binds {
    Mod+Shift+Slash { show-hotkey-overlay; }
    Mod+T hotkey-overlay-title="Open a Terminal: kitty" { spawn-sh "kitty -e"; }
    Mod+Return hotkey-overlay-title="Open a Terminal: ghostty"  { spawn-sh "ghostty"; }
    Mod+B hotkey-overlay-title="Open a Browser: Helium" { spawn "helium-browser"; }
    Mod+Space hotkey-overlay-title="Run a Launcher" { spawn-sh "noctalia msg panel-toggle launcher"; }
    Mod+Alt+L hotkey-overlay-title="Lock the Screen" { spawn-sh "noctalia msg session lock"; }

    Mod+W hotkey-overlay-title="Launcher (windows)" { spawn-sh "noctalia msg window-switcher"; }
    Mod+V hotkey-overlay-title="Launcher (clipboard)" { spawn-sh "noctalia msg panel-toggle clipboard"; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.05+ -l 1.0"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.05-"; }
    XF86AudioMute allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

    XF86AudioPlay allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioStop allow-when-locked=true { spawn-sh "playerctl stop"; }
    XF86AudioPrev allow-when-locked=true { spawn-sh "playerctl previous"; }
    XF86AudioNext allow-when-locked=true { spawn-sh "playerctl next"; }

    XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }

    Mod+O repeat=false { toggle-overview; }
    Mod+Q repeat=false { close-window; }

    Mod+Left  { focus-column-left; }
    Mod+Down  { focus-window-down; }
    Mod+Up    { focus-window-up; }
    Mod+Right { focus-column-right; }
    Mod+H     { focus-column-left; }
    Mod+J     { focus-window-down; }
    Mod+K     { focus-window-up; }
    Mod+L     { focus-column-right; }

    Mod+Shift+Left  { move-column-left-or-to-monitor-left; }
    Mod+Shift+Down  { move-window-down-or-to-workspace-down; }
    Mod+Shift+Up    { move-window-up-or-to-workspace-up; }
    Mod+Shift+Right { move-column-right-or-to-monitor-right; }
    Mod+Shift+H     { move-column-left-or-to-monitor-left; }
    Mod+Shift+J     { move-window-down-or-to-workspace-down; }
    Mod+Shift+K     { move-window-up-or-to-workspace-up; }
    Mod+Shift+L     { move-column-right-or-to-monitor-right; }

    Mod+WheelScrollDown cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp   cooldown-ms=150 { focus-workspace-up; }

    Mod+Ctrl+J { focus-workspace-down; }
    Mod+Ctrl+K { focus-workspace-up; }
    Mod+Ctrl+Up { focus-workspace-up; }
    Mod+Ctrl+Down { focus-workspace-down; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }

    Mod+Ctrl+1 { move-column-to-workspace 1; }
    Mod+Ctrl+2 { move-column-to-workspace 2; }
    Mod+Ctrl+3 { move-column-to-workspace 3; }
    Mod+Ctrl+4 { move-column-to-workspace 4; }
    Mod+Ctrl+5 { move-column-to-workspace 5; }
    Mod+Ctrl+6 { move-column-to-workspace 6; }
    Mod+Ctrl+7 { move-column-to-workspace 7; }
    Mod+Ctrl+8 { move-column-to-workspace 8; }
    Mod+Ctrl+9 { move-column-to-workspace 9; }

    Mod+R { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-column-width-back; }
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    Mod+M { maximize-window-to-edges; }
    Mod+Z { toggle-window-floating; }

    Mod+Equal       hotkey-overlay-title="Increase column width" { set-column-width "+5%"; }
    Mod+Minus       hotkey-overlay-title="Decrease column width" { set-column-width "-5%"; }
    Mod+Shift+Equal hotkey-overlay-title="Increase window height" { set-window-height "+5%"; }
    Mod+Shift+Minus hotkey-overlay-title="Decrease window height" { set-window-height "-5%"; }

    Mod+C      hotkey-overlay-title="Center column" { center-column; }
    Mod+Ctrl+C hotkey-overlay-title="Center all visible columns" { center-visible-columns; }

    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }
    Mod+Shift+E { quit; }
    Ctrl+Alt+Delete { quit; }
    Mod+Shift+P { power-off-monitors; }
}

include "./noctalia.kdl"

